<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>CREATE TODOS</title>
</head>
<body>
    <ul>

        <% item.forEach(element => { %>
            <li class="item" data-id="<%= element._id %>">
            <span class='<%= element.completed === true ? 'completed' : 'not'%>'><%= element.task %></span>
            <span class="del">DELETE</span>
            </li>

        <% }) %>

    </ul>


    <h2><%= remainItem %></h2>
    
    <form action="/todos/createTodo" method="POST">
        <input type="text" name="task" placeholder="Enter Your Task" id="">
        <input type="submit">
    </form>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>